.background--image {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -1;
}

.background--image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 1;
  background-color: var(--medium-dark);
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.theme-dark .background--image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 1;
  background-color: var(--medium-dark);
}

@media screen and (min-width: 768px) {
  .background--image {
    width: 50vw;
    inset: initial;
    top: 0;
    left: 0;
  }
}

.nav--sign {
  width: 100%;
  max-width: 360px;
}

.nav--sign hr {
  width: 100%;
}

.figure .logo-line {
  fill: var(--text-standart)
}