.background__image {
  width: 100vw;
  height: 20vh;
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  background-color: var(--brand-3);
}

.background__image > svg {
  width: 100%;
  height: 20vh;
  z-index: 5;
  position: relative;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.theme-dark .background__image svg {
  width: 100%;
  height: 20vh;
  z-index: 5;
  position: relative;
  object-fit: cover;
  opacity: 1;
}

@keyframes svg_ball_1 {
  0% {
    transform: translate(0px, 0px) scale(2);
  }
  20% {
    transform: translate(200px, -300px) scale(1.5);
  }
  40% {
    transform: translate(350px, -500px) scale(2.5);
  }
  60% {
    transform: translate(50px, -600px) scale(2.5);
  }
  80% {
    transform: translate(800px, -800px) scale(1.5);
  }
  100% {
    transform: translate(200px, -400px) scale(1.5);
  }
}

@keyframes svg_ball_2 {
  0% {
    transform: translate(-200px, -1000px) scale(1);
  }
  20% {
    transform: translate(-200px, -1000px) scale(1);
  }
  40% {
    transform: translate(200px, -1000px) scale(1);
  }
  60% {
    transform: translate(150px, -80px) scale(1);
  }
  80% {
    transform: translate(500px, -300px) scale(1);
  }
  100% {
    transform: translate(210px, -100px) scale(1);
  }
}

@keyframes svg_ball_3 {
  0% {
    transform: translate(-500px, -1000px) scale(2.5);
  }
  20% {
    transform: translate(300px, -700px) scale(3.5);
  }
  40% {
    transform: translate(-3000px, -2000px) scale(3.2);
  }
  60% {
    transform: translate(-1100px, -1500px) scale(1.5);
  }
  80% {
    transform: translate(-2000px, -700px) scale(1.5);
  }
  100% {
    transform: translate(-100px, -400px) scale(1.5);
  }
}

@keyframes svg_ball_4 {
  0% {
    transform: translate(0px, 0px) scale(1.5);
  }
  20% {
    transform: translate(40px, 700px) scale(2.5);
  }
  40% {
    transform: translate(-300px, -200px) scale(1.2);
  }
  60% {
    transform: translate(-900px, -900px) scale(1.5);
  }
  80% {
    transform: translate(-200px, 700px) scale(1.5);
  }
  100% {
    transform: translate(-800px, -400px) scale(2);
  }
}
@keyframes svg_ball_5 {
  0% {
    transform: translate(0px, 0px) scale(1.5);
  }
  20% {
    transform: translate(-700px, 160px) scale(3.5);
  }
  40% {
    transform: translate(257px, 750px) scale(2);
  }
  60% {
    transform: translate(-157px, -200px) scale(2);
  }
  80% {
    transform: translate(950px, -800px) scale(1.1);
  }
  100% {
    transform: translate(300px, -120px) scale(1);
  }
}
.background__image svg #svg_ball_1--inject-1 {
  animation: svg_ball_1 10s infinite alternate linear;
}
.background__image svg #svg_ball_2--inject-1 {
  animation: svg_ball_2 10s infinite alternate linear;
}
.background__image svg #svg_ball_3--inject-1 {
  animation: svg_ball_3 12s infinite alternate linear;
}
.background__image svg #svg_ball_4--inject-1 {
  animation: svg_ball_4 10s infinite alternate linear;
}
.background__image svg #svg_ball_5--inject-1 {
  animation: svg_ball_5 10s infinite alternate linear;
}
.logo__sign {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.logo__sign__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-weight: 700;
  color: var(--text-standart);
}

.logo__sign__content svg {
  height: 80px;
}

.logo__sign__content p {
  width: 100%;
  max-width: 350px;
  margin-left: 16px;
  margin-top: 32px;
  display: none;
}

.logo__sign__content--reverse {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

.sign__container {
  padding-top: 25vh;
  padding-bottom: 20vh;
  z-index: 1;
}

.sign__container__content {
  max-width: 400px;
  width: 100%;
}

.sign__container__content svg {
  fill: black;
}

@media screen and (min-width: 768px) {
  .background__image {
    width: 50vw;
    min-height: 100vh;
    inset: initial;
    top: 0;
    left: 0;
  }

  .background__image__reverse {
    left: initial;
    right: 0;
  }

  .background__image > svg,
  .theme-dark .background__image > svg {
    min-height: 100vh;
  }

  .sign__container {
    padding-top: 0vh;
    padding: 72px 0;
  }

  .logo__sign__content p {
    display: flex;
  }
  
}
